<script>
	import { onMount } from 'svelte';
	
	import pdfBase from '../../original/src/certificate.pdf';
	import data from '../../original/src/form-data.json';
	import { getProfile } from '../../original/src/js/form-util';
	import { generatePdf } from '../../original/src/js/pdf-util';
	import { downloadBlob } from '../../original/src/js/dom-utils'

	function getValues(values, field) {
		return values[field].split(',').map(v => v.trim());
	}

	function pick(o, ...props) {
    return Object.assign({}, ...props.map(prop => ({[prop]: o[prop]})));
	}

	function getKey(key) {
		return data.flat(1).find(field => field.key === key);
	}

	function getFormattedDate(date) {
		return `${date.getDate()}`.padStart(2, '0') + '/' 
			+ `${date.getMonth() + 1}`.padStart(2, '0') + '/' 
			+ `${date.getFullYear()}`
	}

	function getFormattedHour(date) {
		return `${date.getHours()}`.padStart(2, '0') + ':' + `${date.getMinutes()}`.padStart(2, '0');
	}

	function updateSortie() {
		const now = new Date();

		now.setMinutes(now.getMinutes() - timeshift);

		datesortie = prefilled['datesortie'] || getFormattedDate(now);
		heuresortie = prefilled['heuresortie'] || getFormattedHour(now);
	}

	let link = typeof window !== 'undefined' ? location.href : '';
	const keys = data.flat(1).map(field => field.key);
	keys.push('timeshift');
	const reasons = getKey('reason');

	const notInUI = ['timeshift', 'creationDate', 'creationHour', 'datesortie', 'heuresortie', 'reason'];
	const inputFields = ['min', 'max', 'autocomplete', 'type', 'pattern'];

	let datesortie, heuresortie;
	const prefilled = {};
	if (typeof window !== 'undefined') {
		location.hash.slice(1).split('&').map(v => {
			const [key, val] = v.split('=');
			prefilled[key] = decodeURIComponent(val);
		});
	}
	let timeshift = prefilled['timeshift'] || 0;
	
	let isValid = true;//isFormValid();
	function isFormValid() {
		return 	!!prefilled['firstname'] &&
						!!prefilled['lastname'] &&
						!!prefilled['birthday'] &&
						!!prefilled['placeofbirth'] &&
						!!prefilled['address'] &&
						!!prefilled['city'] &&
						!!prefilled['zipcode'];
	}

	let setIntervalCallback;
	function syncSortie() {
		if (setIntervalCallback) {
			clearInterval(setIntervalCallback);
		}

		setIntervalCallback = setInterval(updateSortie, 10000);
	}
	updateSortie();
	syncSortie();

	const profile = {};
	function onChange(event) {
		if (event.target.id === 'timeshift') {
			timeshift = event.target.value;
			updateSortie();
		}

		prefilled[event.target.id] = event.target.value;
		if (history.pushState) {
			let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '#';
			newurl = newurl + [
				...keys.filter(k => !notInUI.includes(k)).map(k => `${k}=${prefilled[k] || ''}`),
				`timeshift=${timeshift}`
			].join('&');

			window.history.pushState({path:newurl},'',newurl);
		}

		link = location.href;

		isValid = isFormValid();
	}

	const DateOriginal = Date;

	class FakeDate extends DateOriginal {
		constructor(...args) {
			super(...args);

			restoreDate();

			return this.addDays(5);
		}

		addDays(days) {
			const date = new DateOriginal(this.valueOf());

			date.setMinutes(date.getMinutes() - timeshift);
			
			return date;
		}
	}

	function mockDate() {
		Date = FakeDate;
	}

	function restoreDate() {
		Date = DateOriginal;
	}

	async function generateAttestation(reason) {
		updateSortie();

		prefilled['datesortie'] = datesortie;
		prefilled['heuresortie'] = heuresortie;

		const profile = {};
		keys.map(k => {
			if (prefilled[k]) {
				profile[k] = getValues(prefilled, k);
			}
		});
	
		try {
			mockDate();
			
			for (const [i, firstname] of profile['firstname'].entries()) {
				const pdfData = { ... prefilled };
				keys.map(k => {
					if (profile[k]) {
						pdfData[k] = profile[k][i%profile[k].length];
					}
				});

				const pdfBlob = await generatePdf(pdfData, reason, pdfBase);

				downloadBlob(pdfBlob, `attestation_${firstname}.pdf`);

				await new Promise(resolve => setTimeout(resolve, 1000));
			}
		} catch (err) {
			console.error(err);
		} finally {
			restoreDate();
		}
	}

	onMount(async () => {
		isValid = isFormValid();
	});

	// isValid = isFormValid();

</script>

<style>
	input {
		padding: 0.5em;
		margin: 0.5em 0.5em 0.5em 0em;
	}

	input[type=button] {
		text-transform: capitalize;
	}

	table, input:not([type=button]) {
		width: 100%;
	}

	.error-invalid {
		color: red;
	}
</style>

<svelte:head>
	<title>Mon attestation</title>
</svelte:head>

<p>
	Date de sortie: {datesortie} / {heuresortie}
</p>
{#if !isValid}
<p>
		<span class="error-invalid">Veuillez renseigner toutes les informations ci-dessous avant de générer les attestations.</span>
</p>
{/if}

{#each reasons.items as r}
	<input disabled={!isValid} type="button" on:click={() => generateAttestation(r.code)} value="{r.code}" />
{/each}

<hr/>

<table>
	<tbody>
	{#each keys as key}
		{#if !notInUI.includes(key)}
		<tr>
			<td><label for="{key}">{getKey(key).label}</label></td>
			<td><input placeholder="{key}" required id="{key}" name="{key}" value="{prefilled[key] || ''}" type="text" on:change={onChange}/></td>
		</tr>
		{/if}
	{/each}
		<tr>
			<td><label for="timeshift">Timeshift (minutes)</label></td>
			<td><input placeholder="timeshift" required id="timeshift" name="timeshift" value="{timeshift}" min="0" max="120" step="5" type="number" on:change={onChange}/></td>
		</tr>
	</tbody>
</table>

<br/><br/><br/>

<h2>Astuces</h2>

<p>
	Gardez le lien vers cette page <a href="{ link }">ici</a>.
	Générez des attestations pour toute la famille en entrant plusieurs
	prénoms séparés par <code>,</code> sur les champs <code>Prénom</code>,
	<code>Date de naissance</code> et <code>Lieu de naissance</code>
	(ex: <code>Jeanne, Serge</code>). Utilisez le paramètre
	<code>Timeshift</code> pour remonter le temps de quelques minutes...
</p>

<h2>Crédits</h2>

<p>
	La valeur de ce projet réside entièrement dans celle du projet
	officiel <code>attestation-deplacement-derogatoire-q4-2020</code>
	dont le code source peut être trouvé <a href="https://github.com/LAB-MI/attestation-deplacement-derogatoire-q4-2020">ici</a>
	sur <a href="https://github.com/">Github</a>.
</p>
